body {
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #fdfaf6;
  color: #333;
  width: 100vw;
}

#hero-video {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  z-index: 2;
}

.overlay-content h1 {
  font-size: 3rem;
}

.overlay-content p {
  font-size: 1.2rem;
  margin-top: 10px;
}
.main img {
  height: 100%;
  width: 100%;
}
.pet-selector {
  padding-top: 0px;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(#fdf4ec);
}

.pet-options button {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 25px;
  background: #ffb26b;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
  width: 180px;
  height: 80px;
}

.pet-options button:hover {
  background: #ff7043;
  transform: scale(1.05);
}

.breeds {
  padding: 2rem;
  text-align: center;
  background: #fdf4ec;
}

.breed-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
}

.breed-card {
  padding-bottom: 15px;
  background: #ffe4ca;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  text-align: center;
  cursor: pointer;
}

.breed-card:hover {
  transform: translateY(-5px);
}

.breed-card img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  text-align: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.modal-content img {
  max-width: 100%;
  border-radius: 10px;
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 30px;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
  color: #444;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #ff5555;
}

.tips-section {
  padding: 20px 20px;
  background: #fff8f0;
  text-align: center;
  font-family: "Segoe UI", sans-serif;
}

.tip-toggle {
  margin-bottom: 20px;
}

.tip-toggle button {
  margin: 40px 20px;
  padding: 10px 24px;
  border: none;
  border-radius: 25px;
  background-color: #ffb26b;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  width: 180px;
  height: 80px;
  transition: transform 0.3s;
}

.tip-toggle button.active,
.tip-toggle button:hover {
  background-color: #ff914d;
}

.services {
  background-image: url("assets/petServices.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 20px;
  transition: background 0.5s ease-in-out, transform 0.5s ease;
  color: #fff;
}

.services:hover {
  transform: scale(1.01);
}

.pet-service {
  padding: 30px;
  border-radius: 12px;
  max-width: 600px;
  margin-left: 40px;
  transition: background-color 0.3s ease;
}

.pet-service h1 {
  font-size: 32px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.pet-service ul {
  list-style: none;
  padding-left: 0;
}

.pet-service li {
  position: relative;
  font-size: 20px;
  margin: 10px 0;
  padding-left: 25px;
  transition: color 0.3s ease;
}

.pet-service li::before {
  content: "➤";
  position: absolute;
  left: 0;
  color: #ffcc00;
  transition: transform 0.3s ease;
}

.pet-service li:hover::before {
  transform: translateX(5px);
}

.pet-service li:hover {
  color: #ffd700;
}

.petInfo {
  position: relative;
  padding-top: 80px;
  text-align: center;
  background-color: rgb(253, 225, 230);
}
.petInfo img {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 160px;
  border-radius: 10%;
  z-index: 2;
}

.petInfo h3 {
  padding: 15px 0px;
  display: inline-block;
  border-radius: 8px;
  font-size: 26px;
  color: #333;
  margin-top: 12px;
  margin-bottom: 1px;
  z-index: 1;
  position: relative;
}

.accordion-box {
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.accordion-item {
  border-bottom: 1px solid #ddd;
}

.accordion-header {
  background-color: #fdf4ec;
  color: #333;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 17px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 5px;
}

.accordion-header:hover {
  background-color: #ffe4ca;
}

.accordion-body {
  padding: 0 20px 15px;
  display: none;
  font-size: 15px;
  color: #444;
}

.hidden {
  display: none;
}

.site-footer {
  padding: 10px;
  font-family: "Segoe UI", sans-serif;
  color: orange;
  position: relative;
  border-radius: 12px;
  animation: fadeIn 1.2s ease;
  overflow: hidden;
  background: rgb(163, 116, 141);
}

.site-footer::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 0px;
  margin-bottom: 30px;
  max-width: 1200px;
  margin: auto;
  position: relative;
  z-index: 1;
  animation: slideUp 1.3s ease;
}

.footer-brand {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.footer-brand h4 {
  font-size: 16px;
  color: #000;
  margin-top: 5px;
}

.footer-links h4,
.footer-contact h4 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #000;
}

.footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #000;
  padding: 5px 10px;
  border-radius: 6px;
  transition: background 0.3s, transform 0.3s;
}

.footer-links a:hover {
  background-color: #fdf4ec;
  color: RED;
  transform: scale(1.1);
}

.footer-contact p {
  margin: 5px 0;
  font-size: 14px;
  color: #000;
}

.footer-social {
  display: flex;
  gap: 12px;
  margin-top: 14px;
}

.footer-social a img {
  width: 28px;
  margin-right: 40px;
  transition: transform 0.3s ease;
}

.footer-social a:hover img {
  transform: scale(1.2);
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #000;
  padding-top: 15px;
  border-top: 2px solid black;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-links ul {
    grid-template-columns: 1fr;
  }

  .footer-social {
    justify-content: center;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
